
.login__form-group {
    width: 450px;
    position: relative;
}

.login__form-label {
    position: relative;
    top: 9px;
    margin-right: 10px;
}

.sign-up {
    margin-left: 70px;
    background-color: #808080;
    border-radius: 100px;
    border-color: #808080
}
.sign-in {
    margin-left: 30px;
    background-color: #808080;
    border-radius: 100px;
    border-color: #808080

}


input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    text-align: center;
    /* margin-right: 130px; */
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%)

}

.login-wrapper {
    /* background-image: url("./canva-photo-editor.png"); */
    position: absolute;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

