.sign-up, .sign-in {
    margin-left: 80px;
}


input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    text-align: center;
    float: right;
    margin-right: 130px;

}

.login-wrapper {
    background-image: url("./canva-photo-editor.png");
    position: absolute;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}