form{
    display: block;
}

.abstract{
    height: 145%;
    position: fixed;
    bottom: 3.4%;
}

.container-login {
    padding: 0px;
}

.row-no-margin {
    margin: 0px;
}

.row-no-margin .col-md-3 {
    padding-left: 0px;
}

input{
    width: 45%;
}

.box-login {
    height:700px;
}

.logo{
    max-width: 43%;
} 

.btn{
    width: 15%;
    
}