#modal-button{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.ReactModal__Content{
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 50px;
}
#add-icon{
    position: fixed;
    right: 18px;
    bottom: 18px;
}