.delete:hover, .edit:hover {
    text-decoration: none;
}

img.delete-bin:hover, img.edit-pen:hover {
    height: 18px;
    width: 18px;
}

img.delete-bin:active, img.edit-pen:active {
    height: 14px;
    width: 14px;
}
