.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: hsl(310, 35%, 40%);
    padding-left: 15px;
    margin-top: 65px ;
    font-family: 'Rubik', sans-serif;
}

#add {
    background-color: transparent;
    border: transparent;
}

a, a:hover {
    color: white;
}

a:active {
    font-weight: bold;
}

ul {
    padding: 5px;
}

h4 {
    padding-top: 10%;
}